$fontColor: #473231;

.title-btn {
  color: $fontColor;
  font-size: 36px;
  background-color: white;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  margin: 30px auto 0 auto;
  transition: 1s;
}

.title-btn:hover {
  background-color: rgb(200,200,200) ;
  transition: 0.1s;
}

.title-btn:active {
  background-color: rgb(180,180,180);
}